<html>

    <head>
    
        <title>File Size Metadata</title>
        
    </head>
    
    <body>
        
        <p> Select file to get its size. </p>
        
        <form action="/api/filemetadata/get-size" method="post" enctype="multipart/form-data">
            
            <input type="file" name="file"> 
            <input type="submit">
            
        </form>
        
    </body>
    
</html>
